<div class="jumbotron jumbotron-fluid h-75 justify-content-center d-flex flex-column">
  <div class="container justify-content-center">
    <h1 class='text-white'>Dashboard</h1>
    <a href=<%= root_path %> class='btn btn-outline-light px-4'>Retour au site</a>
  </div>
</div>