<div class="jumbotron jumbotron-fluid h-75 justify-content-center d-flex flex-column">
  <div class="container justify-content-center text-sm-left text-center pb-sm-4 py-3">
    <h1 class='text-white'>Dashboard</h1>
    <a href=<%= root_path %> class='btn btn-outline-light px-4'>retour au site</a>
    <a class='btn btn-outline-danger ml-2' data-method='DELETE' href=<%= destroy_admin_admin_session_path %>>logout</a>
  </div>
</div>