<div class="jumbotron jumbotron-fluid h-50">
  <div class="container">
    <h1 class='text-white'>Dashboard</h1>
    <a href=<%= root_path %> class='btn btn-outline-light px-4'>Retour au site</a>
  </div>
</div>