<div class="container-fluid py-5" id='a_propos'>
  <div class="row row-fluid">
    <div class='col d-lg-flex d-none line'>
    </div>
    <div class='col-lg-auto'>
      <h1 class='mx-lg-4 text-dark mb-0 text-lg-left text-center'>à propos de moi</h1>
      <h2 class='mx-lg-4 text-secondary mt-0 text-lg-right text-center mb-0'>loic steinmetz</h2>
    </div>
  </div>
  <div class="row row-fluid pt-5">
    <div class='col-lg-1 d-flex flex-lg-column justify-content-center serv'>
      <a href='https://www.linkedin.com/in/loic-steinmetz/' target='_blank'><%= image_tag('linkedin') %></a>
      <a href='https://www.malt.fr/profile/loicsteinmetz' target='_blank'><%= image_tag('google') %></a>
      <a href='https://github.com/B4va/' target='_blank'><%= image_tag('github') %></a>
    </div>
    <div class='col-lg-8 text-secondary d-flex flex-column justify-content-center'>
      <p class='m-0 pt-lg-0 pt-5 text-lg-left text-center'>
      Ayant commencé ma formation de développeur en auto-didacte, c'est par la suite seulement que je me suis tourné vers des programmes d'apprentissages plus classiques : vers une formation de type bootcamp d'abord, orientée web, qui m'a permis, à travers un cursus intensif, de mieux intégrer les bonnes pratiques et de consolider mes acquis. Mon entrée en DUT informatique, plus récemment, a cette fois marqué le début d'un parcours de professionnalisation proprement dit, me permettant de comprendre au mieux les sous-bassements de la programmation ainsi que l'ensemble de l'infrastructure sur laquelle se fonde le développement. C'est finalement à travers un parcours atypique, puisque je me destinais initialement à l'enseignement, que j'ai pu acquérir des capacités diverses et complémentaires qui me permettront de répondre et de m'adapter au mieux à vos attentes.</p>
    </div>
    <div class='col-lg-3 id pt-lg-0 pt-5 d-flex align-items-center justify-content-center'>
      <%= image_tag('ex', alt: 'Loïc STEINMETZ') %>
    </div>
  </div>
</div>