<div class="container-fluid" id='hero'>
  <div class="row py-5 row-fluid">
    <div class='col-lg-7 px-mt-5'>
      <%= image_tag('responsive') %>
    </div>
    <div class='col-lg-5 px-md-5 d-flex justify-content-center flex-column text-lg-left text-center mt-lg-0 mt-4' id='hero-1'>
      <h2 class='text-dark'>un site responsive</h2>
      <p class='text-secondary mt-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
  <div class="row bg-light py-5 row-fluid" id='hero-2'>
    <div class='col-lg-5 px-md-5 d-flex justify-content-center flex-column text-lg-right text-center mt-lg-0 mt-5'>
      <h2 class='text-dark'>des solutions optimisées</h2>
      <p class='text-secondary mt-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class='col-lg-7 px-lg-5'>
      <%= image_tag('workflow') %>
    </div>
  </div>
</div>