<div class="container" id='services'>
  <div class="row mt-5">
    <div class='col-lg-auto'>
      <h1 class='mr-lg-4 text-dark mb-0 text-lg-left text-center'>services</h1>
    </div>
    <div class='col d-lg-flex d-none line mr-4'>
    </div>
  </div>
</div>

<!-- <%= render 'portfolio_prev' %> -->

<div class='container'>
  <div class="card-deck py-5 flex-lg-row flex-column">
      <div class="card">
        <div class="card-header text-center bg-primary">
          création
        </div>
        <div class="card-body p-sm-4">
          <p class="card-text text-secondary">
          En l'absence de maquette prédéfinie ou réalisée seulement partiellement, je mettrai à votre disposition mes compétences en matière de graphisme, qu'il s'agisse d'adapter votre logo aux écrans, de produire des visuels d'illustration, ou de designer l'esthétique globale de votre site internet. Je saurai ainsi vous proposer un design moderne, que nous affinerons ensemble pour l'adapter au mieux à vos attentes en termes d'image. Je saurai également, le cas échéant, décliner votre charte graphique pour le web, de façon à ce que vous puissiez décliner efficacement votre marque sur tout type de media.</p>
        </div>
      </div>
      <div class="card mt-lg-0 mt-4">
        <div class="card-header text-center bg-danger">
          intégration
        </div>
        <div class="card-body p-sm-4">
          <p class="card-text text-secondary">
          L'apparence et l'ergonomie de votre site étant des marqueurs important de ce dernier, et essentiels à sa bonne utilisation, je vous garantis l'usages des technologies et des pratiques les mieux adaptées à votre direction graphique et en termes d'UX. Au besoin, les projets que vous me proposerez pourront faire l'objet d'un développement de compétences nouvelles, apprentissage de toute façon indeispensable compte tenu de l'évolution constante des standards du web. Flat design, material design ? Avec ou sans maquette au préalable ? Je saurai être force de proposition pour que vous puissiez fournir à vos utilisateur la meilleure expérience possible.</p>
        </div>
      </div>
      <div class="card mt-lg-0 mt-4">
        <div class="card-header text-center bg-warning">
          développement
        </div>
        <div class="card-body p-sm-4">
          <p class="card-text text-secondary">Les fonctionnalités de votre site sont le coeur de votre projet, et imposent donc un développement rigoureux. Aussi, je vous garantis la mise en place d'un système robuste qu'il s'agisse des bases de données, des modèles ou de l'architecture générale du site. Pour chacune des fonctionnalités que vous souhaiterez implémenter, il s'agira alors, outre son développement proprement dit, de la tester convenablement avant sa mise production, respectant en outre les standards en terme de sécurité. Comme pour chacune des dimensions de la création de votre site, j'aurai à coeur de m'adapter à votre projet, complétant si nécessaire mes compétences pour les défis les plus complexes !</p>
        </div>
      </div>
  </div>
</div>