<div class="container">
  <div class="row mt-5">
    <div class='col-lg-auto'>
      <h1 class='mr-lg-4 text-dark mb-0 text-lg-left text-center'>services</h1>
    </div>
    <div class='col d-lg-flex d-none line mr-4'>
    </div>
  </div>
</div>

<%= render 'portfolio_prev' %>

<div class='container', id='services'>
  <div class="row py-5">
    <div class='col-lg-4 px-lg-3 px-sm-5 px-3'>
      <div class="card">
        <div class="card-header text-center bg-primary">
          création
        </div>
        <div class="card-body">
          <p class="card-text text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class='col-lg-4 px-lg-3 px-sm-5 px-3'>
      <div class="card mt-lg-0 mt-4">
        <div class="card-header text-center bg-danger">
          intégration
        </div>
        <div class="card-body">
          <p class="card-text text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <div class='col-lg-4 px-lg-3 px-sm-5 px-3'>
      <div class="card mt-lg-0 mt-4">
        <div class="card-header text-center bg-warning">
          développement
        </div>
        <div class="card-body">
          <p class="card-text text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>