<div class="container mb-5" id='tech'>
  <div class="row mt-5">
    <div class='col-lg-auto'>
      <h1 class='mr-lg-4 text-dark mb-0 text-lg-left text-center'>compétences</h1>
    </div>
    <div class='col d-lg-flex d-none line mr-4'>
    </div>
  </div>
  <div class='row mt-5'>
    <div class='col-lg-6 d-flex flex-column justify-content-center pr-lg-5'>
      <%= image_tag('code', class:'rounded') %>
    </div>
    <div class='col-lg-6 d-flex flex-column justify-content-center pl-lg-5 mt-lg-0 mt-4'>
      <p class='text-secondary'>Le web étant en perpétuelle évolution, il appartient aux développeurs de s'adapter à des standards eux-même évolutifs, et de chercher à intégrer les meilleures technologies. En ce sens, il s'agit de continuer à améliorer la qualité de ses méthodes de programmation, tout en restant fidèle à des standards moins variables, en ce qui concerne notamment la sécurité ou la protection des données. C'est dans cette perspective que je conçoit la réalisation de mes projets, qui consisteront donc autant à mettre en oeuvre des méthodes de développement éprouvées parce que solides, qu'à expérimenter de nouveaux outils pouvant accompagner l'innovation ou l'optimisation.</p>
    </div>
  </div>
</div>
<div class="container-fluid" id='tech_body'>
  <div class="row row-fluid row-pad bg-light py-5 flex-nowrap">
    <div class='vertical_line bg-white d-sm-block d-none ml-3'>
    </div>
    <div class='d-flex flex-column ml-sm-5 tech_entries'>
      <div class='tech_entry d-flex flex-column'>
        <h2 class='m-0 mr-2 text-primary'>front end</h2>
        <p class='text-secondary mt-3'>Je maîtrise les langages HTML 5 et CSS 3, derniers standards WC3, ainsi que le JavaScript dans sa dernière version, l'ES6. Je suis par ailleurs familier des librairies JavaScript, comme jQuery ou encore, plus récemment, Lodash, et je continue aujourd'hui de me former à différents framework, dont notamment React Js. Si nécessaire, selon le type de projet et vos attentes, je maîtrise également l'utilisation d'outils de création rapides tels que Bootstrap ou Wordpress.</p>
      </div>
      <div class='tech_entry d-flex flex-column'>
        <h2 class='m-0 mr-2 text-warning'>back end</h2>
        <p class='text-secondary mt-3'>Mon environnement de prédilection, concernant le back end, est le développement d'application Rails. Plus généralement, je me suis spécialisé dans la programmation en Ruby, et serai donc capable d'utiliser d'autres outils pour répondre à vos demandes spécifiques, tel qu'AWS, Heroku ou encore l'environnement Sinatra. Familier donc des architectures MVC, des méthodes de CRUD et du testing, je travaille en outre généralement avec PostgreSQL pour ce qui concerne mes bases de données, mais suis ouvert à travailler en MySQL ou SQLite. Je continue par ailleurs de me former à d'autres langages, PHP notamment, mais resterai pour le moment concentré sur un développement Ruby, avec notamment la dernière version de rails.</p>
      </div>
      <div class='tech_entry d-flex flex-column'>
        <h2 class='m-0 mr-2 text-danger'>design / gestion de projet</h2>
        <p class='text-secondary mt-3'>J'utilise principalement la suite Adobe pour mes travaux en graphisme, avec notamment Photoshop pour l'intégration de photos, Illustrator pour la réalisation de maquettes, de visuels ou de logo. Dans une moindre mesure, je peux également me servir d'Adobe Xd, qui a l'avantage, par sa gratuité, de pouvoir être appréhendé également par certains clients au moment de concevoir une maquette.<br/>Concernant la gestion de projet, je suis familier de Git et Github, ce qui me permettra de m'insérer efficacement dans d'éventuels projets collectifs et, plus simplement, de vous donner accès au code source du site développé ainsi qu'à l'ensemble de ses versions. J'utilise enfin divers outils pour m'accompagner dans mes projets, comme Lucidchart, me servant à réaliser des infographies et des synthèses du fonctionnement de bases de données ou du parcours utilisateur, ou encore Trello, me permettant de travailler de façon agile et transparente vis à vis du client.</p>
      </div>
    </div>
  </div>
</div>