<div class='container pb-5' id='portfolio'>
  <div class="row mt-5">
    <div class='col-lg-auto'>
      <h1 class='mr-lg-4 text-dark mb-0 text-lg-left text-center'>portfolio</h1>
    </div>
    <div class='col d-lg-flex d-none line mr-4'>
    </div>
  </div>
  <div class='portfolio_entry mt-5'>
    <div class="row">
      <div class='col-md-5'>
        <a href='#'><%= image_tag('code', class: 'rounded') %></a>
      </div>
      <div class='col-md-7 text-secondary'>
        <a href='#'><h2 class='text-dark'>exemple.fr</h2></a>
        <p class='mt-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu. Lacinia quis vel eros donec. Non odio euismod lacinia at quis risus.</p>
        <p>Ruby, JS, Html, Rails, etc...</p>
      </div>
    </div>
    <div class='row pt-1 bg-light mt-5'>
    </div>
  </div>
  <div class='portfolio_entry mt-5'>
    <div class="row">
      <div class='col-md-5'>
       <a href='#'><%= image_tag('code', class: 'rounded') %></a>
      </div>
      <div class='col-md-7 text-secondary'>
        <a href='#'><h2 class='text-dark'>exemple.fr</h2></a>
        <p class='mt-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu. Lacinia quis vel eros donec. Non odio euismod lacinia at quis risus.</p>
        <p>Ruby, JS, Html, Rails, etc...</p>
      </div>
    </div>
    <div class='row pt-1 bg-light mt-5'>
    </div>
  </div>
  <div class='portfolio_entry mt-5'>
    <div class="row">
      <div class='col-md-5'>
        <a href='#'><%= image_tag('code', class: 'rounded') %></a>
      </div>
      <div class='col-md-7 text-secondary'>
        <a href='#'><h2 class='text-dark'>exemple.fr</h2></a>
        <p class='mt-3'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet tellus cras adipiscing enim eu. Lacinia quis vel eros donec. Non odio euismod lacinia at quis risus.</p>
        <p>Ruby, JS, Html, Rails, etc...</p>
      </div>
    </div>
    <div class='row pt-1 bg-light mt-5'>
    </div>
  </div>
</div>