// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables.scss";


.nav-tabs a{
  background: none !important;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.7;
}
.nav-tabs a.active{
  opacity: 1;
}

.content h3{
  font-size: 15px;
}

a.btn, button.btn, input.btn{
  font-size: 13px;
  font-weight: normal;
}

.content:hover a.btn-danger, .folio:hover a.btn-danger, .folio:hover a.btn-secondary, .date:hover a.btn-primary, .date:hover a.sup, .entry:hover a.btn-danger, .date:hover a.btn-secondary{
  display: inline !important;
}