@import "variables.scss";

body, html{
  height: 100%;
  display: flex;
  flex-direction: column;
}

// fonts
*{
  font-family: 'Roboto', sans-serif;
}
p{
  hanging-punctuation: none;
}
h1,h2,h3,h4,h5,h6, small, .card-header, strong, footer span, .btn{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-size: 38px;
  font-weight: 900;
}
h2{
  font-size: 30px;
  font-weight: 800;
}
h3{
  font-size: 28px;
  font-weight: 500;
}
.card-header, .btn{
  font-weight: 900;
  font-size: 22px;
  color: white;
}
.navbar-nav a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
footer{
  strong, small, a, span{
    font-weight: 500;
  }
  strong{
    font-weight: 800;
  }
}
#cv{
  h2, h3{
    font-size: 22px;
  }
}

// jumbotron height and background
.jumbotron{
  background-image: url('hero');
  background-size: cover;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  img{
    width: 70%;
    max-width: 300px;
    position: relative;
    left: -3%;
  }
}

// responsive adjustments for jumbotron background
@media screen and (max-width: 576px) {
  .jumbotron {
    background-size: auto 300px;
  }
}

// responsive adjustments for header
@media screen and (max-width: 576px) {
  .jumbotron {
    height: 300px;
  }
}

// ajustments for navbar-toggler
@media screen and (min-width: 577px) {
  .navbar-toggler{
    margin-top: -75px;
    position: relative;
    top: -20px;
    left: 20px;
  }
}

// adjustments for logo_nav
nav img{
  height: 30px;
}

// nav-links
.navbar-nav a{
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to top, transparent 0px, transparent 5.9px, #343a40 6px, #343a40 7px, transparent 7.1px) no-repeat left bottom;
  background-size: 0 100%;
  transition: background-size 0.2s;
}
.navbar-nav a:hover{
  background-size: 100% 100%;
}
a.on{
  text-decoration: none;
  background: linear-gradient(to top, transparent 0px, transparent 5.9px, #343a40 6px, #343a40 7px, transparent 7.1px) no-repeat left bottom;
}

// responsive color for nav toggle-icon
@import './Bootstrap_over.scss';
@media screen and (max-width: 576px) {
  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg !important;
  }
  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color !important;
  }
}

// checkbox label
form .small{
  position: relative;
  left: 0.5em;
  top: -0.25em;
}