// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// row-fluid category to apply backgrounds in whole width
@media screen and (min-width: 577px) {
  .row-fluid{
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (min-width: 767px) {
  .row-fluid{
    padding-left: 8%;
    padding-right: 8%;
  }
}
.row-pad{
  padding-left: 8% !important;
  padding-right: 8% !important;
}

// ajdusts responsive order
@media screen and (max-width: 991px) {
  #hero-2{
    flex-direction: column-reverse;
  }
}

// imgs
#hero img{
  width: 100%;
}
.serv img{
  height: 35px;
  width: 35px;
  margin: 5px 0;
  opacity: 0.9;
  &:hover{
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  .serv img{
    margin: 0 10px;
  }
}
.id img{
  height: 150px;
  width: 150px;
  border: 5px solid #6c757d; // secondary
  border-radius: 100%;
}
#portfolio_prev img{
  width: 100%;
}

// lines
.line{
  height: 1.8em;
  border-bottom: 5px solid #343a40; // dark
}
.vertical_line{
  width: 30px;
  border-radius: 50px;
}
