<% @contents.each do |content| %>

  <div class='row content mt-3'>
    <div class='col-2 text-right'>
      <h3 class='pt-4 m-2 text-dark'><%= content.name %></h3>
      <a href='#' class='btn btn-sm btn-danger d-none mr-1'>modifier</a> <!-- launches modal -->
    </div>
    <div class='col-10'>
      <div class='card p-4'>
        <% if !content.title.nil? %>
          <h4 class='text-dark'><%= content.title %></h4>
        <% end %>
        <p class='m-0 text-secondary'><%= content.body %></p>
      </div>
    </div>
  </div>

<% end %>