<p><a href='#' class='btn btn-primary mb-4'>Ajouter une date</a></p> <!-- modal -->

<% @times.each do |time| %>

<div class='date mb-3'>
  <div class='row'>
      <div class='col-lg-6'>
        <h2 class='m-0 mt-1 mb-lg-0 mb-3'><%= time.date %></h2>
      </div>
      <div class='col-lg-6 text-lg-right'>
        <p class='m-0'>
          <a href='#' class='btn btn-danger mb-4 d-lg-none d-inline mr-3 sup'>Supprimer</a><!-- modal -->
          <a href='#' class='btn btn-primary mb-4 d-lg-none d-inline'>Ajouter une entrée</a><!-- modal -->
        </p> 
      </div>
  </div>
  <hr class=''>
  <div class='row mb-3'>
    <div class='col-11 mb-3'>
      <% time.entries.each do |entry| %>
  
        <div class='entry'>
          <div class='d-flex'>
            <h3 class='m-0'><%= entry.title %></h3>
            <p class='m-0'><a href='#' class='btn btn-danger btn-sm ml-3 mb-0 d-lg-none d-inline'>Modifier</a></p> <!-- modal -->
          </div>
          <% if !entry.sub.nil? %>
            <p><small><%= entry.sub %></small></p>
          <% end %>
        </div>
  
      <% end %>
    </div>
    <div class='col-lg-1'>
      <p><a href='#' class='btn btn-secondary d-lg-none d-inline'>&#9650;</a></p>
      <p><a href='#' class='btn btn-secondary d-lg-none d-inline'>&#9660;</a></p>
    </div>
  </div>
</div>

<% end %>