<header>
  <%= render 'layouts/admin/navbar' %>
</header>

<div class='container'>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active text-dark" id="home-tab" data-toggle="tab" href="#contents" role="tab" aria-controls="contents" aria-selected="true">contents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="portfolio-tab" data-toggle="tab" href="#portfolio" role="tab" aria-controls="portfolio" aria-selected="false">portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="cv-tab" data-toggle="tab" href="#cv" role="tab" aria-controls="cv" aria-selected="false">cv</a>
    </li>
  </ul>
  <div class="tab-content mb-5" id="myTabContent">
    <div class="tab-pane fade show active pt-5" id="contents" role="tabpanel" aria-labelledby="contents-tab">
    
    <%= render 'content' %>

    </div>
    <div class="tab-pane fade pt-5 mb-5" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
    
    <%= render 'folio' %>

    </div>
    <div class="tab-pane fade pt-5 mb-5" id="cv" role="tabpanel" aria-labelledby="cv-tab">
    cv
    </div>
  </div>
</div>