<footer class='bg-light'>
  <div class="container py-5">
    <div class='row text-secondary'>
      <div class='col-md-6 col-sm-12'>
      <div class='col-md-6 col-12'>
        <strong class='mb-2'>tags</strong><br>
        <span class="badge badge-secondary mt-2">développement web</span>
        <span class="badge badge-secondary mt-2">site internet</span>
        <span class="badge badge-secondary mt-2">wordpress</span>
        <span class="badge badge-secondary mt-2">ecommerce</span>
        <span class="badge badge-secondary mt-2">créer site web</span>
        <span class="badge badge-secondary mt-2">responsive</span>
        <span class="badge badge-secondary mt-2">boutique en ligne</span>
      </div>
      <div class='col-md-6 col-sm-12 text-md-right mt-md-0 mt-5'>
      <div class='col-md-6 col-12 text-md-right mt-md-0 mt-5'>
        <a href='#' class='text-secondary text-decoration-none'><strong>mentions légales</strong><br></a>
        <a href='#' class='text-secondary text-decoration-none'><strong>dvp web</strong><br></a>
        <a href='#' class='text-secondary text-decoration-none'><strong>loic steinmetz</strong><br></a>
        <small class='mt-2'>Siret : 12054 7454 579845542</small>
      </div>
    </div>
  </div>
</footer>