<a href='#' class='text-secondary text-center text-decoration-none font-weight-bold mb-3'><small>- haut de page -</small></a>
<footer class='bg-light text-secondary'>
  <div class="container py-5">
    <div class='row align-items-center'>
      <div class='col-md'>
        <strong class='mb-2'>tags</strong><br>
        <span class="badge badge-secondary mt-2">développement web</span>
        <span class="badge badge-secondary mt-2">site internet</span>
        <span class="badge badge-secondary mt-2">web mobile</span>
        <span class="badge badge-secondary mt-2">ecommerce</span>
        <span class="badge badge-secondary mt-2">créer site web</span>
        <span class="badge badge-secondary mt-2">responsive</span>
        <span class="badge badge-secondary mt-2">boutique en ligne</span>
      </div>
      <div class='col-md text-md-right mt-md-0 mt-5'>
        <a href='/mentions_legales' class='text-secondary text-decoration-none'><strong>mentions légales</strong><br></a>
        <a href='#' class='text-secondary text-decoration-none'><strong>dvp web</strong><br></a>
        <a href='https://www.linkedin.com/in/loic-steinmetz/' class='text-secondary text-decoration-none'><strong>loic steinmetz</strong><br></a>
        <small class='mt-2'>Siret : 790 855 738 00023</small>
      </div>
    </div>
  </div>
</footer>