<div class="jumbotron jumbotron-fluid my-0 d-flex align-items-center">
  <div class="container text-center">
    <a href=<%= root_path %>>
      <h1 class="display-4"><%= image_tag('logo_hero', alt: 'dvp loic steinmetz') %></h1>
    </a>
  </div>
</div>